* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
ul {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: white;
    padding: 1px 20px;
    background-color: #00d6;
    border-radius: 6px;
}
body {
    font-family: 'Arvo', serif;
}
.container {
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEE;
    padding: 20px;
    gap: 15px;
    position: relative;
}
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 20px;
    background-color: white;
    font-size: 25px;
}
.memory-game-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
}
.memory-game-blocks.no-clicking {
    pointer-events: none;
}
.memory-game-blocks .game-block {
    width: 200px;
    height: 200px;
    position: relative;
    transition: .3s;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    border: 3px #00b6ff solid;
    cursor: pointer;
}
.memory-game-blocks .game-block .face {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.memory-game-blocks .game-block .front {
    background-color: black;
    color: white;
    font-size: 100px;
}
.memory-game-blocks .game-block .back {
    transform: rotateY(180deg);
    background-color: cadetblue;
    color: white;
    font-size: 35px;
    overflow: hidden;
}
.memory-game-blocks .game-block .back img{
    max-width: 100%;
}
.rotate180 {
    transform:rotateY(180deg);
}
.start-End {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.start-End::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
}
.start-End .screen {
    z-index:23;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: cadetblue;
}
.start-End .screen .masseag {
    font-size: 50px;
    color: white;
}
.start-End .screen button {
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    margin:20px;
}
.start-End .screen.end {
    display: none;
}
@media (max-width:824px) {
    .container {
        width: 100%;
        max-width: 100%;
        gap: 5px;
        height: 100vh;
        justify-content: center;
    }
}
@media (max-width: 767px) {
    .container {
        width: 100%;
        max-width: 100%;
        gap: 5px;
        height: 100vh;
        justify-content: center;
    }
    .heading {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .memory-game-blocks {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
    .memory-game-blocks .game-block {
        width: 110px;
        height: 110px;
    }
    .memory-game-blocks .game-block .front {
        font-size: 65px;
    }
    .btn {
        display: flex;
    }
    .start-End .screen .masseag {
        font-size: 23px;
    }
    .memory-game-blocks .game-block .back {
        font-size: 15px;
    }
}

